header{
	text-align: center;
	padding: 15px 0;
	font-size: 15px;
	border-bottom: 2px solid #eee;
}
.subject-nav{
	text-align: center;
	margin-top: 20px;
}

nav{
	background:#000099; 
}
.divCenter{
	margin: 20px auto;
	align-items: center;
	width: 1000px;
}
.loginBtn{
	color: white;
	font-family: verdana;
	text-align: center;
	background: #2874A6;
	border-radius: 6px;
	line-height: 30px;
	width: 90px;
	height: 30px;
	float: right;
	margin-top: 20px;
	margin-right: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}
.loginBtn:hover{
	background: #58D68D;
}

.registerBtn{
	color: white;
	font-family: verdana;
	text-align: center;
	background: #2874A6;
	border-radius: 6px;
	line-height: 30px;
	width: 105px;
	height: 30px;
	float: right;
	margin-right: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}
.registerBtn:hover{
	background: #DC7633;
}
.logo{
	float: left;
	margin-top: 20px;
}

.logoutBtn{
	float: right;
	color: white;
	font-family: verdana;
	text-align: center;
	background: #2874A6;
	border-radius: 6px;
	line-height: 30px;
	width: 90px;
	height: 30px;
	margin-top: 20px;
	margin-right: 20px;
	cursor: pointer;
}
.logoutBtn:hover{
	background: #FF3333;
}
  