<!-- if login -->
<div>
  <nav class="subject-nav">

    <div class="logo">
      <a class="nav-link" routerLink="../home">
        <img width="50" src="https://i.imgur.com/PraRdnh.png">
      </a>
    </div>
    <div class="logoutBtn" (click)='logout()'>LOG OUT</div>


  </nav>
</div>

<!--<div class="divCenter">
  <nav>
  <div class="registerBtn" (click)='register()'>JOIN NOW</div>
  <div class="loginBtn" (click)='logIn()'>LOG IN</div>
  
</nav>
  <br><br>
  <div>
    <ul class="nav" *ngIf="this.loginService.getUserLoggedIn() == true">
      <li>
        <a routerLink="../home">Home</a>
      </li>
      <li>
        <a routerLink="../user">User</a>
      </li>
      <li>
        <a routerLink="../aboutus">About Me</a>
      </li>
      <li>
        <a routerLink="../user-management">Management</a>
      </li>
      <li>
        <a routerLink="../" (click)='logOut()'>Log Out</a>
      </li>
    </ul>
  </div>
</div>-->