.main{
    background-color: #FFEB3B;
    padding: 200px;
}

.loginBtn{
    float: left;
	color: white;
	font-family: verdana;
	text-align: center;
	background: #2874A6;
	border-radius: 6px;
	line-height: 30px;
	width: 80px;
	height: 30px;
	float: right;
	margin-right: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}
.loginBtn:hover{
	background: #58D68D;
}
.post{
	padding: 80px;
	border-radius: 5px;
    background: #F7F9F9;
}

textarea{
	background:#58D68D;
	width: 500px;
	height: 50px; 
}
ul { list-style:none;}
li {list-style:none;}
.subject-nav{
	text-align: center;
	margin-top: 5px;
}