<div class="main">

  
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <ul class="nav" *ngIf="this.loginService.getUserLoggedIn() == true">
      <li>
        <a class="nav-link" routerLink="../biology">Biology</a>
      </li>
      <li>
        <a class="nav-link" routerLink="../chemistry">Chemistry</a>
      </li>
      <li>
        <a class="nav-link" routerLink="../computer">Computer and Technology</a>
      </li>
      <li>
        <a class="nav-link" routerLink="../english">English</a>
      </li>
      <li>
        <a class="nav-link" routerLink="../mathematics">Mathematics</a>
      </li>
      <li>
        <a class="nav-link" routerLink="../physics">Physics</a>
      </li>
    </ul>
    </nav>
  
  <hr>





  <div>
    <ul>
      <li *ngFor='let question of questionList'>
        <div class="post">
          {{question.title}}
          <br>
          {{question.date}}
          <button type="button" class="btn btn-info" (click)="openModal(template)">click</button>
        </div>
        <br>
      </li>
    </ul>
  </div>


  <ng-template #template>
    <div class="modal-header">
      <h5>Ask a question about your assignment</h5>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <textarea class="form-control" type="text" [(ngModel)]="question" name="question" placeholder="Write your question here.."></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-outline-primary" id="dropdownManual" ngbDropdownToggle>Toggle dropdown</button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button>
          </div>
          <textarea class="form-control" type="text" [(ngModel)]="answer" name="answer" placeholder="Answer here.."></textarea>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
      <button type="button" class="btn btn-primary">Send message</button>
    </div>
  </ng-template>


  <hr>


</div>